html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

*, *:after, *:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style-type: none;
}

.header {
  background-image: url(../img/header-bg.jpg);
  min-height: 793px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__item a {
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
  padding: 0px 25px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu__list a:hover {
  opacity: 1;
}

.header-btn {
  text-transform: uppercase;
}

.login {
  margin-right: 44px;
  font-weight: 600;
}

.sign-up {
  color: #250F8A;
  border-radius: 20px;
  padding: 8px 43px;
  font-weight: 600;
  max-width: 143px;
  min-height: 40px;
  background-color: #FFFFFF;
}

.header-slider {
  padding-top: 111px;
}

.header-slider__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-slider__item-info {
  max-width: 506px;
  font-family: Source Sans Pro;
  color: #fff;
}

.header-slider__title {
  font-weight: 700;
  line-height: 60px;
  font-size: 45px;
  margin-bottom: 10px;
}

.header-slider__description {
  font-size: 24px;
  line-height: 55px;
  font-weight: normal;
  margin-bottom: 60px;
}

.header-slider__btn {
  padding: 13px 39px;
  background-color: #FFCA00;
  color: #250F8A;
  font-family: Source Sans Pro;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  border-radius: 25px;
  outline: none;
}

.header-slider__images {
  margin-right: 82px;
  margin-top: 10px;
}

.header-dots {
  list-style-type: none;
  position: absolute;
  right: 0;
  top: 50%;
}

.header-dots button {
  border: none;
  background-color: #fff;
  opacity: 0.5;
  font-size: 0;
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
  cursor: pointer;
  display: block;
  margin: 10px auto;
  outline: none;
}

.header-dots .slick-active button {
  width: 15px;
  opacity: 1;
}

.specialised {
  padding-bottom: 3%;
}

.specialised__title {
  color: #202020;
  font-family: Source Sans Pro;
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 100px;
}

.specialised-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Source Sans Pro;
}

.specialised-box {
  width: 280px;
  height: 280px;
  text-align: center;
  line-height: 24px;
}

.specialised-box__img {
  margin: 0 auto;
  width: 235px;
  height: 159px;
  margin-bottom: 22px;
}

.specialised-box__title {
  font-weight: 600;
  font-size: 20px;
  color: #202020;
  margin-bottom: 7px;
}

.specialised-box__text {
  font-weight: 600;
  font-size: 15px;
  color: #272727;
  opacity: 0.7;
}

.advantages {
  background-color: #F4F9FD;
  padding-top: 3%;
  padding-bottom: 3%;
}

.advantages__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 7%;
}

.advantages__title-block {
  font-family: Source Sans Pro;
  width: 420px;
  padding-top: 12%;
}

.advantages__title-block h4 {
  font-size: 35px;
  line-height: 45px;
  color: #202020;
  margin-bottom: 9%;
}

.advantages__title-block p {
  font-size: 15px;
  line-height: 24px;
  color: #272727;
  margin-bottom: 7%;
}

.advantages__img {
  width: 668px;
  height: 517px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background-image: url(../img/footer-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3%;
  padding-bottom: 6%;
}

.footer-title {
  font-family: Source Sans Pro;
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 3%;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews-item {
  width: 375px;
  padding: 4% 3%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
}

.reviews-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews-name {
  font-weight: 600;
}

.reviews-name-block {
  padding-left: 8%;
}

.reviews-text {
  text-align: center;
}

.brakets {
  width: 18px;
  height: 17px;
  margin-left: 50%;
  margin-bottom: 3%;
  margin-top: 7%;
}

.adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Source Sans Pro;
  font-size: 15px;
  line-height: 24px;
  padding: 20px 0;
}

.adress-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.adress-menu__link {
  text-decoration: none;
  color: black;
  margin-right: 20px;
}
/*# sourceMappingURL=style.css.map */